@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

:root {
  font-size: 16px;
}

.help {
  height: 20vh;
  background-color: rgb(0, 124, 173);
  box-sizing: border-box;
}

.top  {
  border-top: 20vh solid rgb(0, 124, 173);
  border-right: 50vw solid transparent;
  border-left: 50vw solid rgb(0, 124, 173);
  border-bottom: 20vh solid transparent;
}

.head {
  position: relative;
}

.content {
  padding: 4rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.pfp {
  position: absolute;
  z-index: 2;
  top: 4rem;
  bottom: 4rem; 
  left: 4rem;
  right: 60vw;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  background-image: url(../assets/woman.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-shadow: 2px 2px 20px white;
  box-shadow: 0px 2px 20px rgb(116, 116, 116, 0.3);
  /* background-color: rgb(189, 189, 189); */
  /* background-blend-mode:multiply; */
}

.about {
  z-index: 1;
  position: absolute;
  left: 39%;
  right: 4rem;
  background-color: white;
  padding: 2rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 2px 20px rgb(116, 116, 116, 0.5);
  line-height: 1.2;
}

h3 {
  margin-top: 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.icons {
  margin-top: 1.5rem;
  display: flex;
}

.icons > i {
  display: block;
  margin: 0.25rem;
  font-size: 1.5rem;
}

.icons >  i:first-child {
  margin-left: auto;
}

section {
  padding: 4rem;
}

section > h3 {
  margin-bottom: 1rem;
}

section > main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}

.project {
  box-shadow: 0px 2px 10px rgb(116, 116, 116, 0.5);
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}

.project:hover {
  transform: scale(1.01);
}

.project > .preview {
  font-size: 2.5rem;
  padding: 4.5rem 4.5rem;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}

.project .title {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  margin: 1.5rem;
  gap: 1rem;
  align-items: center;
}

.project .title > div, .project .title i {
  font-size: 1.5rem;
}

.project article {
  margin: 0rem 1.5rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 2.5rem;
}

footer .contact {
  color: white;
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

footer .contact .mail, footer .contact .call {
  display: flex;
  align-items: center;
}

footer .contact > div > div > span {
  margin-right: 1rem;
}

footer .contact > div > div {
  margin-bottom: 1rem;
}

footer .contact > div:last-child {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 3.5rem);
  margin-top: 2rem;
  margin-bottom: 5rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(0, 124, 173);
  padding: 4rem;
}

footer .photo {
  background-image: url(../assets/tools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media only screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }

  .head {
    height: 120vh;
  }

  .content {
    flex-direction: column;
    padding: 2rem;
  }

  .pfp {
    width: 100%;
    height: 100%;
    position: static;
    font-size: 5rem;
  }

  .about {
    position: static;
    font-size: 2.3rem;
    box-shadow: 0px 0px 0px;
    line-height: 1.4;
    color: rgb(90, 90, 90);
    background-color: transparent;
  }

  h3 {
    text-align: center;
    font-size: 4.5rem;
  }

  .about h3 {
    margin-bottom: 1rem;
    color: black;
  }

  .about .icons {
    margin-top: 3rem;
    justify-content: space-evenly;
  }

  .about .icons > i {
    font-size: 5rem;
    margin-left: 0px;
  }
  
  section {
    padding: 2rem;
    padding-bottom: 7rem;
  }

  section > main {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .project > .preview {
    font-size: 4rem;
    padding: 9rem 9rem;
  }

  .project .title > div, .project .title i {
    font-size: 3rem;
  }
  
  .project article {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  footer .contact {
    padding: 2rem;
    background-color: rgb(0, 124, 173);
    font-size: 2rem;
  }

  footer .contact h3 {
    margin-bottom: 2rem;
  }

  footer .contact > div > div > span {
    margin-right: 2rem;
  }

  footer .contact > div > div {
    margin-bottom: 2rem;
  }

  footer .contact > div:last-child {
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
  }

  footer .photo {
    background-image: url(../assets/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (width < 300px) {
  :root {
    font-size: 6px;
  }

  body {
    overflow-x: hidden;
  }

  section > main {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
